/node_modules

/build/*.html
/build/*.png
/build/*.jpg
/build/*.md
/build/*.txt
/build/*.css
/build/*.json
/build/js/*.js
/build/albums/*/scenes/*.json
/build/albums/*/*.json
/build/albums/*.json
/build/audio/*.mp3